<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <h1>REGISTER YOURSELF</h1>
    <a href="/login">LOGIN</a>
    <form action="/register" method="post">
        <input type="text" placeholder="Enter your name" name="name">
        <input type="email" placeholder="Enter you Email" name="email">
        <input type="text" placeholder="......" name="password">
        <input type="submit" value="REGISTER">
    </form>
</body>
</html>