{% extends "base.html" %} {% block title %}USER{% endblock %} {% block content
%}

<main class="profile_layout">
  <aside>
    <div class="profile_card">
      <img src="https://i.redd.it/vvzpigme0ds61.jpg" alt="pfp" width="100px" />
      <h1>HI {{user.name}}</h1>
      <h2>{{user.email}}</h2>
      <h2 class="post-count">{{ user.questions|length }} Questions Asked</h2>
    </div>
  </aside>
  <section>
    <a href="/ask" class="btn-ask">ASK A QUESTION</a>
    {% for q in user.questions %}
    <article class="card">
      <div class="question card">
      <h3>{{ q.title }}</h3>
      <p>{{ q.body }}</p>
      <a href="/answer/{{q.id}}">ANSWERS</a>
      </div>
    </article>
    {% endfor %}
  </section>
</main>

{% endblock %}
